{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"/>
		<meta charset="utf-8">
		<script src="{% static 'javascript/validaciones.js' %}"></script>
    </head>

    <body>
		
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="nombre" type="text" onblur="validarNombre()">
						<label for="nombre">Nombre</label>
					</div>
					<div class="input-field col s6">
						<input id="apellido" type="text" onblur="validarApellido()">
						<label for="apellido">Apellido</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="run" type="text" placeholder="1111111-1" onblur="validarRun()">
						<label for="run">Run</label>
					</div>
					<div class="input-field col s6">
						<input id="email" type="email" placeholder="juanito@ejemplo.cl" onblur="validarFecha()">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="telefono" type="number" placeholder="12345678" onblur="validarNumero()">
						<label for="telefono">Telefono</label>
					</div>
					<div class="input-field col s6">
						<input id="fechaNac" type="text" value="" placeholder="01/01/2000" onblur="validarFecha()">
						<label for="fechaNac">Fecha de nacimiento</label>
					</div>
				</div>
				<label>Región</label>
				<div class="row">
					<div class="input-field col s6">
						<select id="region" class="browser-default">
							<option value="" disabled selected>Región</option>
							<option value="1">Región Metropolitana</option>
							<option value="2">X Región</option>
							<option value="3">V Región</option>
						</select>
					</div>
				</div>
				<label>Ciudad</label>
				<div class="row">
					<div class="input-field col s6">
						<select id="ciudad" class="browser-default">
							<option value="" disabled selected>Ciudad</option>
							<option value="1">San Bernardo</option>
							<option value="2">Santiago</option>
							<option value="3">La Reina</option>
						</select>
					</div>
				</div>
				<label>Tipo de vivienda</label>
				<div class="row">
					<div class="input-field col s6">
						<select id="tip_vivienda" class="browser-default">
							<option value="" disabled selected>Viviendas</option>
							<option value="1">Casa con patio grande</option>
							<option value="2">Casa con patio pequeño</option>
							<option value="3">Casa sin patio</option>
							<option value="4">Departamento</option>
						</select>
					</div>
				</div>
					<div class="input-field col s6">
						<button class="btn waves-effect waves-light" id="id_aceptar" type="submit" name="aceptar">Aceptar</button>
						<button class="btn waves-effect waves-light" id="id_cancelar" type="reset" name="cancelar">Cancelar</button>
					</div>
			</form>
		</div>
		
		
		
		<!--JavaScript at end of body for optimized loading-->
		<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
		<script>
			const Calender = document.querySelector('.datepicker');
			M.Datepicker.init(Calender,{format:'dd/mm/yyyy',showClearBtn:true});
		</script>
	</body>
</html>