body
{
	background: #6DCCAA;
}



header
{
	background: ;
	padding: 30px 50px;
	height:90;
}

.nav-wrapper
{
	background-color: #6DCCAA !important;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

li{
	display: inline-block;
	float: left;
	margin-right; 1px;
}

li a{
	display: block;
	min-width: 140px;
	height: 64px;
	text-align: center;
	line-height: 64px;
	color: #fff;
	background: #6DCCAA;
	text-decoration: none;
}

li:hover a{
	background: #19c589;
}

@media screen and (max-width: 760px){
	ul{
		position: static;
	}
	li{
		margin-bottom: 1px;
	}
	ul li,li a{
		width: 100%;
	}
}

#cuerpo{
	background: white;
}

section
{
	background: #6DCCAA;
	width: 100%;
	height: 800px;
}
#d3
{
	height: 800px;
}


footer
{
	background: #6DCCAA;
	width: 100%;
	height: 100px;
}
#d1
{
	background: white;
	color: black;
	height: auto;
}
#d2
{
	background: white;
	color: black;
	height: auto;
}

#d4
{
	background: white;
	height: auto;
}

#d5{
	background: white;
	height: auto;
}

#marco1
{
	background: #6DCCAA;
	float: left;
	height: 100%;
	width: 33%;
}
#info1
{
	height: 36%;
	width: 100%;
	background-color: rgba(31, 31, 31, 0.9);
}
#marco2
{
	background: #6DCCAA;
	float: left;
	height: 100%;
	width: 33%;
}
#marco3
{
	background: #6DCCAA;
	float: left;
	height: 100%;
	width: 33%;
}
h1
{
	color: white;
}
